name: Metrics
on:
  schedule:
    - cron: "0 0 * * *" # daily at midnight UTC
  workflow_dispatch: # manual trigger
jobs:
  github-metrics:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: lowlighter/metrics@latest
        with:
          token: ${{ secrets.METRICS_TOKEN }}
          user: harshitAgr
          template: classic
          base: header, activity, community, repositories, metadata
          config_timezone: Europe/Helsinki

          # Include private contributions
          base_indepth: yes

          # Languages plugin
          plugin_languages: yes
          plugin_languages_ignored: html, css
          plugin_languages_details: bytes-size, percentage
          plugin_languages_limit: 8

          # Contribution habits
          plugin_habits: yes
          plugin_habits_days: 14
          plugin_habits_facts: yes
          plugin_habits_charts: yes

          # Achievements
          plugin_achievements: yes
          plugin_achievements_display: compact

          # Contribution calendar
          plugin_isocalendar: yes
          plugin_isocalendar_duration: half-year
